<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Élections du Club{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- <link href="https://cdn.jsdelivr.net/npm/fastbootstrap@2.2.0/dist/css/fastbootstrap.min.css" rel="stylesheet" -->
    <!-- integrity="sha256-V6lu+OdYNKTKTsVFBuQsyIlDiRWiOmtC8VQ8Lzdm2i4=" crossorigin="anonymous"> -->


    <style>
        body {
            background-color: #f8f9fa;
            /* Fond gris clair */
        }

        .navbar-nav .nav-link,
        .navbar-brand {
            color: #343a40 !important;
            /* Texte foncé pour meilleur contraste */
        }

        @media (max-width: 991px) {
            .navbar-collapse {
                position: fixed;
                top: 56px;
                /* Ajustez selon la hauteur de votre navbar */
                left: 0;
                padding-left: 15px;
                padding-right: 15px;
                padding-bottom: 15px;
                width: 75%;
                height: 100%;
                background-color: #f8f9fa;
                transition: all 0.3s ease;
                display: block;
                transform: translateX(-100%);
            }

            .navbar-collapse.show {
                transform: translateX(0);
            }
        }
    </style>
</head>

<body>
    <header class="bg-light shadow-sm mb-4">
        <nav class="navbar navbar-expand-lg navbar-light container">
            <!-- Titre avec icône pour le logo du site -->
            <h3 class="text-primary text-bleu-600">
                <i class="fas fa-vote-yea text-bleu-600"></i>
                <span class="text-bleu-600">Élections - Club GI 2024</span>
            </h3>

            <!-- Bouton pour le menu responsive (menu burger) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Contenu de la navigation pour les écrans de taille normale et mobile -->
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ms-auto">
                    <!-- Lien vers la page d'accueil -->
                    <li class="nav-item">
                        <a href="{{ url_for('templates.home') }}" class="nav-link">
                            <i class="fas fa-home"></i> Accueil
                        </a>
                    </li>
                    {% if phase and phase == 1%}
                    <!-- Lien pour poser une candidature -->
                    <li class="nav-item">
                        <a href="{{ url_for('templates.candidature') }}" class="nav-link">
                            <i class="fas fa-envelope-open"></i> Poser sa candidature
                        </a>
                    </li>
                    {% endif%}
                    {% if phase and phase == 3%}
                    <!-- Bouton pour consulter les résultats, mis en valeur -->
                    <li class="nav-item mt-2 mt-lg-0">
                        <a href="{{ url_for('templates.resultats') }}" class="nav-link">
                            <i class="fas fa-check-circle text-success></i> Consulter les résultats
                        </a>
                    </li>
                    {%endif%}

                    <li class="nav-item mt-2 mt-lg-0">
                        <a href="{{ url_for('static', filename='CharteClubGI.pdf') }}" target="_blank" class="btn btn-outline-info w-100">
                            <i class="fas fa-file-alt"></i> Charte du Club GI
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            <div>{{ message }}</div>
            <i class="fa fa-multiply"></i>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>

    <!-- <footer>
        <p>&copy; 2024 - Licensé en BSD-3</p>
    </footer> -->

    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='chartjs.udm.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var navbarToggler = document.querySelector('.navbar-toggler');
            var navbarCollapse = document.querySelector('.navbar-collapse');

            // Ouvrir/fermer le menu burger lorsque le bouton est cliqué
            navbarToggler.addEventListener('click', function () {
                if (navbarCollapse.classList.contains("show")) {
                    console.log("contains show")
                    navbarCollapse.classList.remove("show")
                    navbarCollapse.classList.add("collapse")

                }else{
                    console.log("contains not show")
                    navbarCollapse.classList.add("show")
                    navbarCollapse.classList.remove("collapse")
                }
            });

            // Fermer le menu burger lorsque l'utilisateur clique sur un lien du menu
            var navLinks = document.querySelectorAll('.navbar-nav .nav-link, .navbar-nav .btn');
            navLinks.forEach(function (link) {
                link.addEventListener('click', function () {
                    if (window.innerWidth < 992) { // Vérifie si l'écran est plus petit que 992px (taille mobile)
                        navbarCollapse.classList.remove('show');
                    }
                });
            });
        });
    </script>

</body>

</html>